<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weblog.persistence.mapper.AttachmentMapper">

    <resultMap id="attachmentInfo" type="com.weblog.business.entity.AttachmentInfo" autoMapping="true">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="suffix" column="suffix"/>
        <result property="url" column="url"/>
        <result property="filesize" column="filesize"/>
        <association property="owner" javaType="com.weblog.business.entity.BloggerInfo"
                     autoMapping="true"
                     column="owner"
                     select="com.weblog.persistence.mapper.BloggerMapper.getBloggerById">
            <id property="id" column="owner"/>
        </association>
    </resultMap>

    <insert id="addAttachmentInfo" useGeneratedKeys="true" keyProperty="attach.id">
        INSERT INTO attachment(name, suffix, md5sum, owner, filesize)
        VALUES (#{attach.name}, #{attach.suffix}, #{md5}, #{attach.owner.id}, #{attach.filesize})
    </insert>
    <delete id="deleteAttachmentInfo">
        DELETE
        FROM attachment
        WHERE id = #{aid}
    </delete>

    <select id="getBloggerAttachment" resultMap="attachmentInfo">
        select id, name, suffix, owner, filesize
        FROM attachment
        WHERE owner = #{uid}
        LIMIT #{from}, #{count}
    </select>
    <select id="getAttachmentInfo" resultMap="attachmentInfo">
        SELECT id, name, suffix, owner, filesize
        FROM attachment
        WHERE id = #{aid}
    </select>
    <select id="getAttachmentMd5" resultType="java.lang.String">
        SELECT md5sum
        FROM attachment
        WHERE id = #{aid}
    </select>
</mapper>
