<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weblog.persistence.mapper.BlogMapper">
    <update id="updateBlogVisitCount">
        UPDATE blog
        SET visit_count = visit_count + #{count}
        WHERE blogger_id = #{bid}
    </update>

    <select id="getBlogByIdAll" resultType="com.weblog.business.entity.BlogInfo">
        SELECT visit_count,
               like_count,
               COUNT(fan)   AS fans,
               COUNT(title) AS blogCount
        FROM blog
                 LEFT OUTER JOIN subscribe ON publisher = blogger_id
                 LEFT OUTER JOIN post ON blogger_id = author
        WHERE blogger_id = #{id}
        GROUP BY visit_count, like_count
    </select>
    <select id="getBlogByIdPublic" resultType="com.weblog.business.entity.BlogInfo">
        SELECT visit_count,
               like_count,
               COUNT(fan)   AS fans,
               COUNT(title) AS blogCount
        FROM blog
                 LEFT OUTER JOIN subscribe ON publisher = blogger_id
                 LEFT OUTER JOIN post ON blogger_id = author
        WHERE blogger_id = #{id}
          AND is_public = 1
        GROUP BY visit_count, like_count
    </select>
</mapper>
