<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weblog.persistence.mapper.PermissionMapper">

    <select id="checkTagOwner" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT * FROM tag WHERE id = #{tid} AND owner = #{uid})
    </select>
    <select id="checkAttachmentOwner" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT * FROM attachment WHERE id = #{aid} AND owner = #{uid})
    </select>
    <select id="checkPostAuthor" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT * FROM post WHERE id = #{pid} AND author = #{uid})
    </select>
    <select id="checkPostPublic" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT * FROM post WHERE id = #{pid} AND is_public)
    </select>
</mapper>
