<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weblog.persistence.mapper.TagMapper">

    <resultMap id="tagInfo" type="com.weblog.business.entity.TagInfo" autoMapping="true">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <association property="owner" javaType="com.weblog.business.entity.BloggerInfo"
                     autoMapping="true"
                     column="owner"
                     select="com.weblog.persistence.mapper.BloggerMapper.getBloggerById">
            <id property="id" column="owner"/>
        </association>
    </resultMap>

    <select id="getTagInfoByName" resultMap="tagInfo">
        select id,description,owner,`name`
        from tag
        where `name` = #{tags}
    </select>

    <insert id="addTag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tag(name, owner, description)
        VALUES (#{name}, #{owner.id}, #{description})
    </insert>
    <update id="updateTag">
        UPDATE tag
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="owner != null">`owner` = #{owner.id},</if>
            <if test="description != null">`description` = #{description},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteTag">
        DELETE
        FROM tag
        WHERE id = #{tid}
    </delete>

    <select id="getPublicTags" resultMap="tagInfo">
        SELECT id, `name`, `description`, owner
        FROM tag
        WHERE owner IS NULL
        LIMIT #{from}, #{count}
    </select>
    <select id="getBloggerTags" resultMap="tagInfo">
        SELECT id, `name`, `description`, owner
        FROM tag
        WHERE owner = #{uid}
        LIMIT #{from}, #{count}
    </select>
    <select id="getTagInfo" resultMap="tagInfo">
        SELECT id, name, owner, description
        FROM tag
        WHERE id = #{tid}
    </select>

</mapper>
